.App{
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/664/438/small/Technologyab23.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
}
.MainTitle{
  margin: 20px 0 30px 0;
}
.InfoCont{
  color: grey;
  font-size: 28px;
  padding: 50px 0 60px 0;
}
.FavBookTitle{
  margin-top: 30px;
}
.Input{
  margin: 0 0 20px 50px;
  width: 61.8%;
  height: 40px;
  padding-left: 10px;
}
.List{
  list-style-type: none;
  font-size: 22px;
  width: 80%;
  height: 50px;
  margin: auto;
  box-sizing: border-box;
  background: #cbced1;
}
.AddBookButton{
  color: lightgrey;
  width: 15%;
  height: 39.5px;
  padding: 2px;
  margin: 10px 10px 10px 10px;
}
.DelButton{
  color: black;
  width: 7%;
  height: 30px;
  padding: 2px;
  margin: 10px 10px 10px 10px;
}
.AddFavButton{
  color: black;
  width: 15%;
  height: 30px;
  padding: 2px;
  margin: 10px 10px 10px 10px;
}

